{% extends 'base.html.twig' %}

{% set index = offset + 1 %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}! </h1>

    <div id="pokemonslist">
        <ul>
            {% for key,pokemon in pokemons %}
                <li class="pokemon">
                    <a class="pokemonLink" href="{{ path('details',{'pokemonId' : pokemon.name }) }}">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ index }}.png"
                             alt="">
                        <p>{{ index }} {{ pokemon.name|capitalize }}</p>
                    </a>
                </li>
                {% set index = index +1 %}
            {% endfor %}
        </ul>
    </div>


    {% dump(pokemons) %}
{% endblock %}
